<!DOCTYPE html>
<html lang="en">
    <head>
        
        <%- include('../partials/head'); %>
        
    </head>
    <body>
        <%- include('../partials/navbar'); %>
        <%- include('../partials/jumbotron'); %>
        <h1><%= values[0].name %></h1>
        <p><%= values[0].price %> dollaria</p>
        <p><%= values[0].timestamp %></p>
    </body>
</html>