<!DOCTYPE html>
<html lang="en">
    <head>
        
        <%- include('../partials/head'); %>
        
    </head>
    <body>
        <%- include('../partials/navbar'); %>
        <%- include('../partials/jumbotron'); %>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
                <h1><%= values[0].name %></h1>
                <h3><%= values[0].price.toFixed(2) %> €</h3>
                <p><%= values[0].timestamp %></p>
            </div>
            <div class="col-sm-2"></div>
          </div> 
          
            <%- include('../partials/footer'); %>
       
    </body>
</html>